@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.splash {
    background: url("./images/splash.jpg");
    background-size: cover;
    flex-shrink: 0;
    flex-grow: 0;
    width: 450px;
}

.content {
    padding-right: 150px;
    padding-left: 150px;
    padding-top: 150px;
}

.logo {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10rem;
    width: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "norsebold", sans-serif;
    font-size: 5em;
}

.credit {
    position: absolute;
    width: inherit;
    text-align: center;
    bottom: 0;
    color: white;
}

img {
    height: 100px;
    width: 100px;
}

