@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

.splash {
    background: url("./images/splash.jpg");
    background-size: cover;
    flex-shrink: 0;
    flex-grow: 0;
    width: 40vw;
}

.content {
    padding-right: 15vh;
    padding-left: 5vh;
    padding-top: 15vh;
}

.description,
legend {
    font-weight: bold;
}

form {
   margin-right: -15vh;
   margin-left: -5vh;
}

fieldset {
    position: relative;
    padding-top: 50px;
    padding-left: 5vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

legend {
    position: absolute;
    top: 15px;
    left: 5vh;
}

label {
    display: flex;
}

legend ~ div {
    margin-right: 50px;
}

button {
    margin: 5vh;
    border: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 5vh;
    padding-left: 5vh;
    border-radius: 5px;
    background-color: #fbb948;

}

.logo {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30vh;
    width: 40vw;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "norsebold", sans-serif;
    font-size: 5rem;
}

.credit {
    position: absolute;
    width: inherit;
    text-align: center;
    bottom: 0;
    color: white;
    font-size: 1.5ch;
}

img {
    height: 6rem;
    width: auto;
}

a {
    color: #fbb948;
}

